/* #region FONTS*/
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* #endregion */

/* #region BODY*/
body {
  background-color: #f5efe6;
  font-family: "Poppins", sans-serif;
  /* background-color: #0B3B25; */
}
/* #endregion */

/* #region spaceHolders Display */
@media (min-width: 992px) {
  .spaceHolder {
    display: block;
  }
}
@media (max-width: 991px) {
  .spaceHolder {
    display: none;
  }
}
/* #endregion */

/* #region Main */

/* #endregion */

/* #region navBar  */

.navBar {
  background-color: #eeedeb;
  color: #6c55e0;
}
.navBar h1 {
  padding-top: 20px;
  font-size: 30px;
  text-align: center;
}
.logoCol {
  text-align-last: center;
}

.navBar img {
  width: 100px;
}
.projectsLink {
  padding-top: 25px;
  text-align-last: right;
  width: 267px;
}

.projectsLink a {
  text-decoration: none;
  color: #6c55e0;
}

a:hover {
  color: #8f7cee;
}

/* #endregion */

/* #region aboutMe*/
.aboutMe {
  background-color: #eeedeb;
  text-align-last: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.profImg img {
  width: 200px;
  border-radius: 100px;
  /* float: right; */
}

.linkedin1 img,
.sheCodes1 img,
.github1 img {
  padding: 10px;
  width: 65px;
}
.linkedin1 img:hover,
.sheCodes1 img:hover,
.github1 img:hover {
  opacity: 0.5;
}

.aboutMeSocials {
  align-content: center;
}

.codingExperience h1 {
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.codingExperience {
  padding: 20px;
  font-family: "Poppins", sans-serif;
  align-content: center;
  text-align: center;
}

.codingExperience button {
  font-family: "poppins-semibold", sans-serif;
  border-radius: 5px;
  border-style: none;
  background-color: #6c55e0;
  color: #eeedeb;
  padding: 15px;
}

button:hover {
  background-color: #8f7cee;
}

@media (max-width: 992px) {
  .aboutMeSocials {
    display: none;
  }
}
/* #endregion */

/* #region Skills */
.skills {
  font-family: "Poppins", sans-serif;
  background-color: #eeedeb;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-bottom: 15px;
}

.skillsRowHeader {
  text-align-last: center;
}

.frontendTitleCol,
.backendTitleCol {
  align-content: center;
}
.frontendImg,
.backendImg {
  width: 55px;
  float: right;
}
.backendSkills {
  /* align-content: center; */
}

.backendList,
.frontendList {
  /* text-align: -webkit-center; */
}

/* .frontendList ul{
    list-style-image: url('/media/frontend.png');
    width: 8px;
}
.backendList ul {
  list-style-image: url('/media/backend.png');
} */

li {
  width: 10px;
}

.skillsTitle {
  justify-content: space-between;
}

.skillsName {
  font-size: large;
  font-weight: 500;
}

.skillsBar,
.skillsPercentage {
  height: 5px;
  border-radius: 25rem;
}

.skillsBar {
  background-color: #6c55e0;
}

.skillsPercentage {
  display: block;
  background-color: #a496e7;
}

.skillsPercentHtml {
  width: 30%;
}

.skillsPercentHtml {
  width: 30%;
}

.skillsPercentCss {
  width: 40%;
}
.skillsPercentBs {
  width: 20%;
}
.skillsPercentJs {
  width: 20%;
}

.skillsPercentC {
  width: 70%;
}
/* #endregion */

/* #region PROJECTS */
.projects {
  font-family: "Poppins", sans-serif;

  /* padding-left: 15px;
  padding-right: 15px; */
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #eeedeb;
  color: #2f3645;
  text-align: -webkit-center;
}
.projectOne,
.projectTwo,
.projectThree,
.project4 {
  padding-bottom: 30px;
}
.projectBox {
  width: 316px;
  padding: 25px;
  /* border-style: solid;
  border-width: 3px;
  border-color: #2f3645; */
  background: linear-gradient(#798bb1, #99999867), rgba(0, 0, 0, 0.041);
  border-radius: 15px;
}

.projects a {
  color: #2f3645;
  text-decoration: none;
}

a:hover {
  color: #a496e7;
}
.projectOne img,
.projectTwo img,
.projectThree img,
.projectFour img {
  width: 200px;
}
.projectBox img {
  border-radius: 20px;
  padding-bottom: 10px;

  /* align-items: center; */
}
/* #endregion */

/* #region CERTIFICATIONS */
.certifications {
  font-family: "Poppins", sans-serif;

  background-color: #eeedeb;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-bottom: 15px;
}

.certificationsRowHeader {
  text-align-last: center;
}

.sheCodesTitleCol,
.mscaTitleCol {
  align-content: center;
}
.sheCodesImg,
.mscaImg {
  width: 200px;
  /* float: right; */
}
.mscaSkills {
  /* align-content: center; */
}

.mscaInfo,
.sheCodesInfo {
  /* text-align: -webkit-center; */
}

.sheCodesImgCol,
.mscaImgCol {
  text-align: -webkit-center;
}

li {
  width: 10px;
}

/* #endregion */

/* #region CONTACT */
.contact {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(#eeedeb, #6c55e0), rgba(0, 0, 0, 0.5);
  color: #2f3645;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.contactInfo {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  /* background-color: #f5efe6; */
  height: 500px;
  text-align: center;
  text-align-last: left;

  /* align-self: center; */
}

.contactTitle {
  margin-bottom: 5px;
}

.contactTitle h2,
.location h2 {
  font-weight: 600;
  color: #6c55e0;
  font-size: 40px;
}
.contactInfoCol hr,
.location hr {
  border: none;
  width: 120px;
  height: 5px;
  background-color: #6c55e0;
  border-radius: 10px;
  margin-bottom: 20px;
}

.contactFirstName,
.contactEmail,
.contactMessage,
.submitContactButton {
  padding: 10px;
  /* flex-direction: column; */
  /* align-items: start; */
}

.contactInput {
  width: 327px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: #2f3645;
  border-radius: 50px;
}
.contactInput:focus {
  border: 2px solid #2f3645;
}
.contactMessage textarea {
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}
.submitContactButton button {
  border-radius: 20px;
  border-style: none;
  background-color: #2f3645;
  color: #eeedeb;
  padding: 15px;
  cursor: pointer;
}

button:hover {
  background-color: #a496e7;
}

.location {
  padding: 30px;
  text-align: -webkit-center;
}
@media (min-width: 991px) {
  .location {
    padding: 0px;
  }

  .contact {
    height: 620px;
  }
}

/* #endregion */

/* #region FOOTER */
.footer {
  font-family: "Poppins", sans-serif;
  background-color: #6c55e0;
  color: #eeedeb;
  padding: 15px;
}
.footerRow {
  place-content: center;
}
.footerRow img {
  width: 35px;
}
.credit {
  width: 324px;
}

.footerRow p {
  margin-top: 5px;
  margin-bottom: 0px;
}

.socialMediaRow {
  justify-content: right;
  padding-right: 20px;
}
.linkedin,
.github,
.sheCodes {
  width: 50px;
}

.linkedin img:hover,
.sheCodes img:hover,
.github img:hover {
  opacity: 0.5;
}
.socialMedia {
  width: 174px;
}

@media (max-width: 991px) {
  .credit {
    display: none;
  }

  .socialMediaRow {
    justify-content: center;
    padding-right: 0px;
  }
}
/* #endregion */
